* {
    padding:0;
    margin:0;
}

body {
    height: 100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(117,121,9,1) 35%, rgba(0,212,255,1) 100%);
    min-height: 3rem;
}


#logo {
    font-family: LATO;
    color: orange;
    padding-left: 1rem;
 
}

.nav-links {
    text-decoration: none;
    color: white;
    padding: 0rem 2rem;
    transition: 1s;
}

.nav-links:hover {
  background-color: rgba(37, 37, 37, 0.377);
  padding: 1rem;
  transition: 1s;
  /* color: #fff;
  text-shadow: #fff 0 0 10px; */
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
  }

article {
  padding: 2rem;
}

ul {
  list-style: none;

}

main {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(117,121,9,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;

}


section {
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-left: 1px solid rgba(255, 255, 255, 0.582);
    padding: 0rem 2rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0.5046393557422969) 0%, rgba(0,212,255,0) 40%);
    }
footer {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(117,121,9,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    text-align: center;
    
}


/* SIGN UP PAGE */
.signup {
  color : white;
  text-decoration: none;
  text-transform: capitalize;
  font-size: larger;
}
.signupForm {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}


/* ALERT SECTION  */
#alert {
    transition: 2s;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: alerts;
    animation-duration: 2s;
  
  }
  
  @keyframes alerts {
    from{opacity: 0};
    to{opacity: 100};
  }
  .red-alert {
    background-color: rgba(192, 28, 28, 0.692);
  }
  .green-alert {
    background-color: rgb(66, 180, 66);
  }
  .blue-alert {
    background-color: skyblue;
  }
  
  #error {
    text-align: left;
    display: block;
  }
  /* END OF ALERT  */